

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/Home/Index"> <h1> <strong>VikiNet</strong></h1></a>
          </div>
          
                @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="col-l-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Logout">Çıkış Yap</a>
                    </div>
                }else
                {
                    <div class="col-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="/Account/Login">Giriş Yap</a>
                    </div>
                    <div class="col-l-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="/Account/Register">Kayıt Ol</a>
                    </div>
                }
            
        </div>
      </header>
          <!-- ----------Başlık kısmı---------- -->
      <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="/Subject/Create"><h4>Makale Ekle</h4></a>
          <a class="p-2 link-secondary" href="/Subject/Index"><h4>Makaleler</h4></a>
        </nav>
          <hr />
        </div>
    </div>
    <main class="container">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-6 fst-italic">Herkes dünyayı değiştirmeyi düşünür, ama kimse kendini değiştirmeyi düşünmez.<br>-Lev Tolstoy   </h1>
          <img style="width: 350px; margin-left: 600px; margin-top: -250px; position: relative; border-radius: 80px;" src="https://img-s1.onedio.com/id-6165f6191f044aac229db8dc/rev-0/w-620/f-jpg/s-165a2fa678621396fd51397460c107b5bb460230.jpg" alt="">
          <p class="lead mb-0"><a href="/Account/Register" class="text-white fw-bold">Hemen Kayıt ol <br />Öğrenmeye veya katkıda bulunmaya başla...</a></p>
        </div>
      </div>
        <div class="row g-5">
            <div class="col-md-8">
                <h2 class="blog-post-title">Blog Hakkında</h2>
                <p>Blogumuzun amacı güvenilir kaynaklı bilgi hizmeti vermek, bu alanda çalışmaları olan yazarlarımıza da önayak olmak ve eserlerinin değerleneceği bir ortam sunmaktır.</p>
            </div>
        </div>
    </main>
    
    
 

 
