@using VikiNet.Data.ViewModels
@model RegisterViewModel

<div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/Home/Index"> <h1> <strong>VikiNet</strong></h1></a>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="/Account/Login">Giriş Yap</a>
          </div>
          <div class="col-l-2 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="/Account/Register">Kayıt Ol</a>
          </div>
        </div>
      </header>
          
      <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="/Subject/Create"><h4>Makale Ekle</h4></a>
          <a class="p-2 link-secondary" href="/Subject/Index"><h4>Makaleler</h4></a>
          <a class="p-2 link-secondary" href="/Subject/Edit"><h4>Makale Düzenle</h4></a>
          @if(User.Identity.IsAuthenticated && User.IsInRole("User"))
          {
          <a class="p-2 link-secondary" href="/Subject/Edit"><h4>Makale Düzenle</h4></a>
          } 
        </nav>
          <hr />
        </div>
    </div>
    <form asp-action="Register">
                    <div class="form-group">
                        <label class="control-label" asp-for="FullName"></label>
                        <input class="form-control" asp-for="FullName" />
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="EmailAddress"></label>
                        <input class="form-control" asp-for="EmailAddress" />
                        <span class="text-danger" asp-validation-for="EmailAddress"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="BirthDate"></label>
                        <input class="form-control" asp-for="BirthDate" />
                        <span class="text-danger" asp-validation-for="BirthDate"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Password"></label>
                        <input class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="ConfirmPassword"></label>
                        <input class="form-control" asp-for="ConfirmPassword" />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Kayıt Ol</button>
                        
                    </div>
                </form>