@using VikiNet.Data.ViewModels
@model SubjectViewModel

<div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"> <h1> <strong>VikiNet</strong></h1></a>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="/Account/Login">Giriş Yap</a>
          </div>
          <div class="col-l-2 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="/Account/Register">Kayıt Ol</a>
          </div>
        </div>
      </header>
          
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="/Title/Tarih"><h4>Tarih</h4></a>
          <a class="p-2 link-secondary" href="/Title/Din"><h4>Din</h4></a>
          <a class="p-2 link-secondary" href="/Title/Edebiyat"><h4>Edebiyat</h4></a>
          <a class="p-2 link-secondary" href="/Title/Teknoloji"><h4>Teknoloji</h4></a>
          <a class="p-2 link-secondary" href="/Title/Yazarlarimiz"><h4>Yazarlarımız</h4></a>
        </nav>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <form asp-action="Add" enctype="multipart/form-data">
              <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea asp-for="Name" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <textarea asp-for="SubjectName" class="form-control"></textarea>
              </div>
              <div class="form-group">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <input asp-for="CreatedDate" class="form-control" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModifiedDate" class="control-label"></label>
                        <input asp-for="ModifiedDate" class="form-control" />
                        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <select asp-for="Id" class="form-control" asp-items="ViewBag.Subjects" multiple></select>
                    </div>
              <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <select asp-for="Name" class="form-control" asp-items="ViewBag.Subjects">
                            <option>Seçiniz...</option>
                        </select>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
              <div>
                <button class="btn btn-primary" type="submit">Kaydet</button>
              </div>
            </form>
          </div> 
        </div>
      </div>
     
@section Scripts {    
    <partial name="_ValidationScriptsPartial">    
}