@using VikiNet.Data.ViewModels
@model SubjectViewModel

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#"></a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#"> <h1> <strong>VikiNet</strong></h1></a>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="/Account/Login">Giriş Yap</a>
                </div>
                <div class="col-l-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="/Account/Register">Kayıt Ol</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="/Subject/Create"><h4>Makale Ekle</h4></a>
          <a class="p-2 link-secondary" href="/Subject/Index"><h4>Makaleler</h4></a>
          <a class="p-2 link-secondary" href="/Subject/Edit"><h4>Makale Düzenle</h4></a>
          @if(User.Identity.IsAuthenticated && User.IsInRole("User"))
          {
          <a class="p-2 link-secondary" href="/Subject/Edit"><h4>Makale Düzenle</h4></a>
          } 
        </nav>
          <hr />
        </div>
    </div>
    
     <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <form asp-action="Edit" enctype="multipart/form-data">
              <div class="form-group">
                <label asp-for="Name" for="exampleFormControlInput1">Konu</label>
                <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                <span asp-validation-for="Name" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="Description" for="exampleFormControlTextarea1">Açıklama</label>
                <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="ImageUrl" for="exampleFormControlFile1">Resim Eklemek için</label>
                <input asp-for="ImageUrl" type="file" class="form-control-file" id="exampleFormControlFile1">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
              </div>
              <div>
                <button class="btn btn-primary" type="submit">Kaydet</button>
              </div>
            </form>
          </div> 
        </div>
      </div>
    
      